<div class="jumbotron text-center">

<h1>Search for a stock</h1>

{{#power-select
  options=model
  searchPlaceholder="Type to filter..."
  searchField="name"
  selected=target
  onchange=(action "chooseStock")
  as |stock|
}}
  <strong> {{stock.symbol}} </strong> {{stock.name}}
{{/power-select}}

<br />

{{ember-chart 
  type='Bar'
  data=chartData 
  height=500 
  width=800
}}

<h2>{{target.symbol}}</h2>

<p>Sign the guestbook below.</p>

    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
          <input type="email" class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"/>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
            <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}}>Sign</button>
        </div>

    </div>

</div>

{{outlet}}
